{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container mt-3">
        <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
            <div class="et_pb_text_inner">
                <h3>¿Qué medidas se tomarán por el COVID-19?</h3>
                <p>Ante la preocupación nacional por contagio en eventos masivos y por cuidar la salud e integridad de
                    nuestros asistentes, y en seguimiento de las normas de salud anunciadas por el Gobierno Federal,
                    cambiará sus fechas. Las nuevas fechas serán del 30 de Junio al 04 de Julio de 2021 en
                    Expo Guadalajara</p>
                <h3>¿Se cancelará el evento por COVID-19?</h3>
                <p> no se cancelará, se cambiarán las fechas para dar pie al control del COVID-19 por parte
                    de la Secretaría de Salud a nivel nacional. Las nuevas fechas serán del 30 de Junio al 04 de Julio
                    de 2021 en Expo Guadalajara.</p>
                <h3>¿Se pospondrá el evento por COVID-19?</h3>
                <p>Así es, las nuevas fechas serán del 30 de Junio al 04 de Julio de 2021 en Expo Guadalajara.</p>
                <h3>¿Qué pasa con mis vuelos y hoteles?</h3>
                <p>Te recomendamos hablar con la aerolínea, línea de autobuses y hoteles donde hiciste reservaciones
                    para solicitar el cambio de fecha. Actualmente las empresas de transporte y hospedaje tienen nuevas
                    políticas por caso extraordinario.</p>
                <h3>¿Cómo o dónde solicito un reembolso de mis entradas y/o camping por motivo de COVID-19?</h3>
                <p>El equipo seguirá acciones para apoyar y beneficiar a los talentos. Las entradas que
                    ya adquiriste serán completamente válidas para el evento de 2021. Además, si compraste mediante
                    promoción o compra normal, tendrás como cortesía una entrada general para el evento a celebrarse en
                    la Semana de Pascua de 2022 en Expo Guadalajara. El periodo de reembolsos ha terminado. Si no te es
                    posible utilizar tus entradas y camping, te sugerimos que puedas transferirlo de manera gratuita a
                    alguna persona que pueda hacer uso del mismo. Podrás solicitar tu transferencia al correo
                    crm@talent-network.org</p>
                <h3>¿Qué pasará con mis entradas y camping?</h3>
                <p>Las entradas que ya adquiriste serán completamente válidas para el evento de 2021. Además, si
                    compraste mediante promoción o compra normal, tendrás como cortesía una entrada general para el
                    evento a celebrarse en la Semana de Pascua de 2022 en Expo Guadalajara.</p>
                <h3>¿Tengo que realizar algún trámite para hacer válidas mis entradas al evento en sus nuevas fechas?
                </h3>
                <p>Ninguno, las entradas que ya adquiriste serán completamente válidas para el evento de 2021.
                    Consérvalas. Además, si compraste mediante promoción o compra normal, tendrás como cortesía una
                    entrada general para el evento a celebrarse en la Semana de Pascua de 2022 en Expo Guadalajara.</p>
                <h3>¿Mi beca de talento también tendrá entrada el próximo evento?</h3>
                <p>Las becas de talento serán válidas para la nueva fecha, pero no tendrán el beneficio de la cortesía
                    para el evento a celebrarse en la Semana de Pascua de 2022 en Expo Guadalajara.</p>
                <h3>¿Qué cambios tendrá el evento?</h3>
                <p>Se mantendrá el programa de contenidos previamente anunciado, se suma una nueva tierra: Fashion Land.
                    El único cambio que  tendrá son las nuevas fechas de presentación. Las nuevas fechas
                    serán del 30 de Junio al 04 de Julio de 2021 en Expo Guadalajara.</p>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock content %}